:root {
  --primary-color: #151515;
  --secondary-color: #ffffff;
  --tertiary-color: #d9d9d9;
  --primary-color-hover: #8ecccc;
  --secondary-color-hover: #ffc93c;
}

body {
  background-color: var(--primary-color);
  font-family: "Space Grotesk", sans-serif;
  color: var(--secondary-color);
}

h1 {
  font-size: 88px;
  font-weight: bold;
}

h2 {
  color: var(--tertiary-color);
  font-size: 78px;
}

h3 {
  color: var(--tertiary-color);
  font-size: 24px;
}

h3 u {
  color: var(--tertiary-color);
}

h4 {
  color: var(--tertiary-color);
  font-size: 20px;
}

h6 {
  color: var(--tertiary-color);
}

h6 u {
  color: var(--tertiary-color);
}

p {
  color: var(--tertiary-color);
  font-size: 18px;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar-img {
  height: 50px;
  width: 50px;
  border-color: var(--tertiary-color);
  border-radius: 50px;
}

.navbar-brand {
  color: var(--tertiary-color);
  font-weight: bold;
  padding-left: 8px;
}

.navbar-toggler {
  color: var(--tertiary-color);
}

#navbarNavAltMarkup a {
  color: var(--tertiary-color);
}

#navbarNavAltMarkup a:hover {
  color: var(--primary-color-hover);
  text-decoration: underline;
}

.nav-link {
  margin-right: 20px; /* Adjust the value as needed */
}

.fa-lightbulb {
  font-size: 18px;
  color: var(--tertiary-color);
}

.fa-lightbulb:hover {
  color: var(--secondary-color-hover);
}

#hero {
  margin: 50px 0;
}

.hero-text {
  margin-top: 165px;
}

u {
  color: var(--secondary-color);
  text-decoration-color: var(--primary-color-hover);
}

.contact-icon a {
  margin: 10px;
  color: var(--primary-color-hover);
  text-decoration: none;
  text-align: center;
  font-size: 32px;
}

.contact-icon a:hover {
  transform: scale(1.2);

  transition: all 0.3s ease-out;
}

.btn-resume {
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}

.btn-resume:hover {
  color: var(--primary-color);
  background-color: var(--primary-color-hover);
  transition: all 0.3s ease-out;
}

.about-text {
  text-align: justify;
}

.job-text {
  text-align: justify;
}

.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button {
  background-color: transparent !important;
  color: var(--tertiary-color);
}

.accordion-button.active {
  color: var(--tertiary-color) !important;
}

.accordion-item {
  background-color: #151515;
  color: var(--tertiary-color);
}

.stack-text {
  font-size: 12px;
}

.stack-icon i {
  margin: 10px;
  color: var(--primary-color-hover);
  text-decoration: none;
  text-align: center;
  font-size: 32px;
}

.stack-icon i:hover {
  transform: scale(1.2);

  transition: all 0.3s ease-out;
}

.custom-card {
  background-color: transparent !important;
  border-color: var(--tertiary-color);
}

.card-title {
  text-transform: uppercase;
  color: var(--tertiary-color);
}

.card-img-top img {
  object-fit: cover;
}

.link-description {
  color: var(--tertiary-color);
  text-decoration: none;
}

.link-description:hover {
  color: var(--primary-color-hover);
  text-decoration: underline;
}

.text-card-footer {
  color: var(--tertiary-color);
}

.btn-view {
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}

.btn-view:hover {
  color: var(--primary-color);
  background-color: var(--primary-color-hover);
  transition: all 0.3s ease-out;
}

footer {
  background-color: var(--primary-color);
}

.text-start {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: 18px;
}

.footer-icon a {
  margin: 10px;
  color: var(--primary-color-hover);
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

.footer-icon a:hover {
  transform: scale(1.2);

  transition: all 0.3s ease-out;
}

.fa-angles-up {
  color: var(--primary-color-hover);
  font-size: 28px;
  cursor: pointer;
}

.fa-angles-up:hover {
  transform: scale(1.2);

  transition: all 0.3s ease-out;
}

.source-icon i {
  margin: 10px;
  color: var(--primary-color-hover);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.source-icon i:hover {
  transform: scale(1.2);

  transition: all 0.3s ease-out;
}

@media (min-width: 576px) {
  .mobile-bg-image img {
    display: none;
  }
}
