body {
  background-color: #151515;
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
}

.navbar {
  background-color: #151515;
}

.navbar-logo {
  height: 54px;
  width: 136px;
}

.navbar-toggler {
  color: #ffffff;
}

#navbarNavAltMarkup a {
  color: #ffffff;
}

#hero {
  height: 600px;
  margin: 100px 50px auto;
}

.hero-text {
  margin-top: 165px;
}

.col-sm-4 .bg-img {
  background-color: #242424;
  width: 418px;
  height: 600px;
}

.contact-icon a {
  margin: 10px;
  color: #d9d9d9;
  text-decoration: none;
  text-align: center;
  font-size: 32px;
}

.contact-icon a:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-out;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
}

p {
  color: #d9d9d9;
}

hr {
  border: solid 1px;
  border-radius: 4px;
  color: #d9d9d9;
}
